.navbar {
    margin-bottom: 1rem;
}
.active {
    font-weight: bold;
}
#light .navbar {
    background-color: #fcf4e7;
}
#dark .navbar {
    background-color: #234067;
}
#dark .btn-outline-secondary {
    color: white !important;
}
