.forecast-title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.daily-card {
    margin-bottom: 0.25rem;
    border-radius: 0.75rem;
    border-style: none;
}
.daily-card-icon {
    height: 64px;
    width: 64px;
}
.daily-card-title {
    font-weight: bold;
}
canvas {
    border-radius: 0.5rem;
    padding: 1rem;
    color: #d8e4fc;
}

#light .daily-card{
    background-color: #fcf4e7;
}

#light canvas {
    background-color: #fcf4e7;
}


#dark .daily-card{
    background-color:  #234067;
    color: #d8e4fc;
}
#dark .forecast-title {
    color: #d8e4fc;
}
#dark canvas {
    background-color: #234067;
}


