/* body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#home, #favorites {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.link {
  text-decoration: none;
}

#light {
  background-color: #ffdcbc;
}
#dark {
  background-color: #0d1e31
}

#dark .navbar-text {
  color: #d8e4fc;
  font-weight: bold;
}
#light .navbar-text {
  color: #e5451c;
  font-weight: bold;
}

#location-details {
  border-radius: 1rem;
  padding: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-style: none;
}

#dark #location-details {
  /* background-image: url("./assets/Mountain Layer View In Blue Tone.svg"); */
  background-image: url("./assets/Mountain Layer View In Blue Tone.png");
  background-size: cover; 
  background-repeat: no-repeat;
}

#dark #location-details {
  color: #d8e4fc;
}

#light #location-details {
  background-image: url("./assets/Mountain Landscape In Orange Tone resized.svg");
  background-size: cover; 
  background-repeat: no-repeat;
}

#light #location-details .card-title {
  color: #e5451c;
}

#light #location-details .card-secondary-title {
  font-weight: bold;
}


@media screen and (min-device-width: 1024px) { 
  #location-details .card-title {
    font-size: 5rem;
  }
  #location-details .card-secondary-title {
    font-weight: bold;
    font-size: 2.5rem;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) { 
  #home, #favorites {
    width: 100%;
  }
  #location-details .card-title {
    font-size: 4rem;
  }
  #location-details .card-secondary-title {
    font-weight: bold;
    font-size: 2rem;
  }
}

@media only screen and (max-device-width: 480px) {
  #home, #favorites {
    width: 100%;
  }
  #location-details .card-title {
    font-size: 2rem;
  }
  #location-details .card-secondary-title {
    font-size: 1rem;
  }
}